#explore-categories {
  display: flex;
  padding: 20px 30px;
  border-radius: 10px;
  overflow-x: scroll;
}

#explore-categories .explore-category {
  width: 100px;
}

#explore-categories .explore-category:not(:last-child) {
  margin-right: 40px;
}

#explore-categories .explore-category > * {
  display: block;
}

#explore-categories .explore-category img {
  width: 100px;
  margin-bottom: 5px;
}

#explore-categories .explore-category span {
  color: #555;
  text-align: center;
  font-size: 14px;
}
