main {
  padding-top: 0;
}

h2:first-child {
  margin-top: 0;
}

#profile-top-section {
  border-radius: 0 0 10px 10px;
}

#profile-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  /* background-image: url("/media/placeholder-profile-banner.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  z-index: 2;
}

#profile-menu-bar-profile-picture {
  position: absolute;
  width: 160px;
  margin-left: 35px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

#profile-menu-bar-actions {
  display: flex;
  padding-left: calc(20% + 7px);
  /* gap: 30px; */
}
/* #profile-menu-bar-actions::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: calc(100% + 10px);
  bottom: 0;
  background-color: #fff;
  z-index: 1;
} */

.profile-tab-switcher {
  padding: 15px 28px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.15s;
}
.profile-tab-switcher:hover {
  background-color: #ff26342d;
}
#green-points-profile-tab-switcher:hover {
  background-color: #00b32d30;
}
.profile-tab-switcher:hover,
.profile-tab-switcher.profile-tab-switcher-selected {
  color: #f12331;
}

.profile-tab-switcher > span {
  position: relative;
  color: #000;
  transition: color 0.15s;
}
.profile-tab-switcher.profile-tab-switcher-selected > span {
  color: var(--theme-red);
}
#green-points-profile-tab-switcher.profile-tab-switcher-selected > span {
  color: var(--theme-green);
}
.profile-tab-switcher > span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 50%);
  width: 0;
  height: 7px;
  border-radius: 99999px;
  background-color: var(--theme-red);
  opacity: 0;
  transition: width 0.15s, opacity 0.15s;
}
#green-points-profile-tab-switcher > span::after {
  background-color: var(--theme-green);
}
.profile-tab-switcher.profile-tab-switcher-selected > span::after {
  width: 100%;
  opacity: 1;
}

#profile-main {
  display: flex;
  margin-top: 40px;
}

#user-info {
  max-width: 20%;
  flex-shrink: 0;
  margin-right: 35px;
}

#username {
  margin: 0 0 14px;
}

#user-info p {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 5px 0;
}

#edit-profile {
  display: flex;
  align-items: center;
  margin-top: 17px;
  padding: 6px 11px 6px 9.5px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
}

#edit-profile > .material-icons-outlined {
  margin-right: 7px;
}

#edit-profile > :not(.material-icons-outlined) {
  transform: translateY(-1px);
}

#user-info hr {
  margin: 19px 0 17px;
}

/* #user-info p .material-icons,
#user-info p .material-icons-outlined {
  margin-right: -3px;
} */
/* 
#user-info > p:first-of-type {
  margin-top: 14px;
} */

#profile-views-info > p:first-child,
#profile-views-info > p:nth-child(2) {
  margin: 0;
  color: var(--theme-red);
}

#profile-views-info > p:first-child {
  font-weight: 500;
}

#profile-views-info > p:last-child {
  margin-bottom: 0;
}

#profile-views-info > p:first-child > .material-icons-outlined {
  margin-right: 1.5px;
  font-size: 35px;
}

#profile-view-count {
  margin-top: -5px;
  font-size: 30px;
}

#profile-views-info > p:last-child {
  margin-top: 7.5px;
}

.profile-tab-content {
  display: none;
  flex-grow: 1;
}
.profile-tab-content.profile-tab-content-selected {
  display: block;
}
#listings {
  margin: -10px 0 0 -15px;
  padding: 0;
}
#listings.profile-tab-content-selected {
  display: grid;
}

#green-points-summary {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 15px 22px;
  border-radius: 10px;
}

#green-points-summary > img {
  width: 60px;
  margin-right: 18px;
}

#green-points-summary-text {
  transform: translateY(-2px);
}

#green-points-count {
  font-size: 30px;
  font-weight: 500;
}

#redeem-rewards {
  display: flex;
  align-items: center;
  margin-left: 38px;
  padding: 6px 12px 6px 11px;
  height: fit-content;
  background-color: var(--theme-green);
  border-color: var(--theme-green);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
}
#redeem-rewards:hover {
  background-color: #009c27;
}
#redeem-rewards:active {
  background-color: #008521;
}

#redeem-rewards > .material-icons-outlined {
  margin-right: 7px;
}

#green-points > h2 {
  margin: 32px 0 25px;
}

#green-points-redemption-history {
  /* padding: 15px; */
  border-radius: 10px;
}

#green-points-redemption-history > table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

#green-points-redemption-history > table th {
  padding: 8px 13px 10px;
  background-color: #ddd;
  font-weight: 500;
  text-align: left;
}

#green-points-redemption-history > table tr {
  position: relative;
}

#green-points-redemption-history > table td {
  padding: 10px 13px 12px;
}
#green-points-redemption-history > table td:first-child {
  width: 60%;
}

#green-points-redemption-history > table th,
#green-points-redemption-history > table td {
  background-clip: padding-box;
}

#green-points-redemption-history > table th,
#green-points-redemption-history > table tr:not(:last-child) > td {
  border-bottom: 1px solid #000;
}

#green-points-redemption-history > table th:not(:last-child),
#green-points-redemption-history > table td:not(:last-child) {
  border-right: 1px solid #000;
}

#green-points-redemption-history > table td:nth-child(3) {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#green-points-redemption-history > table td:nth-child(3) > img {
  margin-left: 6px;
  height: 18px;
  transform: translateY(1px);
}

#category-search {
  position: relative;
  margin: 20px 0;
  padding: 0;
  border-radius: 7px;
  transition: border-radius 0.2s;
  /* overflow: hidden; */
}
#category-search.search-active {
  border-radius: 7px 7px 0 0;
}

#category-search-input-wrapper {
  position: relative;
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  padding: 9px 12px 10px;
  border-radius: 7px;
  background-color: #e6e6e6;
  box-shadow: 0 0 5px 0 #aaa;
  z-index: 2;
  transition: border-radius 0.2s;
}
#category-search.search-active > #category-search-input-wrapper {
  border-radius: 7px 7px 0 0;
}

#category-search-input-wrapper > .material-icons {
  margin-right: 4px;
  font-size: 22px;
  transform: translateY(1px);
}

#category-search-input-wrapper > input[type="text"] {
  flex-grow: 1;
  background-color: #00000000;
  border: none;
  /* border-radius: 5px 5px 0 0; */
  outline: none;
  font-family: inherit;
  font-size: 16px;
  z-index: 2;
}

#category-search-results {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #fff;
  /* grid-column: 1 / -1; */
  box-shadow: 0 0 5px 0 #aaa;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
#category-search.search-active > #category-search-results {
  opacity: 1;
  pointer-events: all;
}

.category-search-result {
  position: relative;
  padding: 11px 13px 12px;
  cursor: pointer;
}
.category-search-result:hover {
  background-color: #d6d6d6;
}

.result-name {
  display: block;
  margin-bottom: 1px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.result-parent-category {
  color: #444;
  font-size: 14px;
}

.result-name:hover, .result-parent-category > a:hover {
  text-decoration: underline;
}

#no-category-search-results {
  display: none;
  padding: 11px 13px 12px;
}

#category-options {
  position: absolute;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 5px 0 #aaa;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
#category-search.search-active > #category-options {
  opacity: 1;
  pointer-events: all;
}

.category-option {
  position: relative;
  display: flex;
  /* margin-top: -1px; */
  padding: 11px 13px 12px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.category-option:hover {
  background-color: #d6d6d6;
}

.category-option > .material-icons {
  margin-left: 3px;
  margin-right: -6px;
  opacity: 0;
  transition: opacity 0.2s;
}
.category-option:hover > .material-icons {
  opacity: 1;
}

.subcategories {
  position: absolute;
  display: none;
  top: 1px;
  left: 100%;
  width: fit-content;
  /* margin-top: -10px;
  margin-left: calc(25% - 13px); */
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 #aaa;
  overflow: hidden;
  z-index: 2;
}

.category-option:hover > .subcategories {
  display: block;
}

.subcategories > div {
  margin-top: 1px;
  padding: 11px 13px 12px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.subcategories > div:hover {
  background-color: #d6d6d6;
}

#price-graph-wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

#price-graph {
  display: block;
}
