#filters {
  display: flex;
  margin-bottom: 40px;
  max-width: calc(100vw - 60px);
}

#filters .filter .filter-button .material-icons::after {
  content: "expand_more";
}
#filters .filter.filter-dropdown-expanded .filter-button .material-icons::after {
  content: "expand_less";
}

@media screen and (max-width: 701px) {
  #filters {
    overflow-x: scroll;
  }
}

#filters .filter:not(:last-child) {
  margin-right: 15px;
}

#filters button {
  cursor: pointer;
}

#filters .filter .filter-button,
#filters button#apply-filters {
  white-space: nowrap;
  display: flex;
  border-radius: 99999px;
  font-family: inherit;
  font-size: 16px;
}

#filters .filter .filter-button {
  padding: 7px 9.5px 7px 16px;
  background-color: #fff;
  border: 1px solid #aaa;
  transition: background-color 0.2s, border-color 0.2s;
}
#filters .filter .filter-button:hover {
  background-color: #e0e0e0;
}
#filters .filter.filter-dropdown-expanded .filter-button {
  background-color: var(--theme-red-transparent);
  border-color: var(--theme-red);
}

#filters .filter .filter-button span {
  margin-right: 2px;
}

.filter-options {
  /* display: none; */
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #aaa;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
.filter-dropdown-expanded .filter-options {
  /* display: block; */
  z-index: 2;
  pointer-events: auto;
  opacity: 1;
}

#category-filter .filter-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* height: 300px; */
  padding: 0;
  /* overflow-y: auto; */
}

#category-filter .filter-options #category-search-wrapper {
  display: flex;
  grid-column: 1 / -1; /* full width */
  align-items: center;
  padding: 11px 13px 12px;
  background-color: #e6e6e6;
}

.filter-options #category-search-wrapper .material-icons {
  margin-right: 4px;
  font-size: 22px;
}

#category-filter .filter-options #category-search-wrapper #category-search {
  flex-grow: 1;
  background-color: inherit;
  border: none;
  border-radius: 5px 5px 0 0;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  transform: translateY(-1px);
}

#category-search-results {
  grid-column: 1 / -1;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}

#no-category-search-results {
  display: none;
  padding: 11px 13px 12px;
}

#category-search-results .category-search-result {
  position: relative;
  padding: 11px 13px 12px;
  cursor: pointer;
}
#category-search-results .category-search-result:hover {
  background-color: #d6d6d6;
}

#category-filter .filter-options #category-search-results .category-search-result .result-name {
  display: block;
  margin-bottom: 1px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
#category-filter .filter-options #category-search-results .category-search-result .result-name:hover {
  text-decoration: underline;
}

#category-filter .filter-options #category-search-results .category-search-result .result-parent-category {
  color: #444;
  font-size: 14px;
}

#category-filter .filter-options #category-search-results .category-search-result .result-parent-category a {
  color: inherit;
  text-decoration: none;
}
#category-filter .filter-options #category-search-results .category-search-result .result-parent-category a:hover {
  text-decoration: underline;
}

#category-filter .filter-options #category-search-results .category-search-result .material-icons {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 10px;
}

#category-filter .filter-options .filter-option {
  display: flex;
}

#category-filter .filter-options .filter-option .material-icons {
  margin-left: 3px;
  margin-right: -6px;
  opacity: 0;
  transition: opacity 0.2s;
}
#category-filter .filter-options .filter-option:hover .material-icons {
  opacity: 1;
}

#category-filter .filter-options .filter-option .subcategories {
  display: none;
  position: absolute;
  width: fit-content;
  margin-top: -10px;
  margin-left: calc(25% - 13px);
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 #aaa;
  overflow: hidden;
}
#category-filter .filter-options .filter-option:hover .subcategories {
  display: block;
}

#sorting-filter .filter-options {
  width: 150px;
  padding: 0;
}

#category-filter .filter-options .filter-option,
#category-filter .filter-options .filter-option .subcategories > *,
#sorting-filter .filter-options .filter-option {
  margin-top: -1px;
  padding: 11px 13px 12px;
  cursor: pointer;
  transition: background-color 0.15s;
}
#category-filter .filter-options .filter-option:hover,
#category-filter .filter-options .filter-option .subcategories > *:hover,
#sorting-filter .filter-options .filter-option:hover {
  background-color: #d6d6d6;
}

#sorting-filter .filter-options .filter-option:nth-child(1) {
  border-radius: 7px 7px 0 0;
}

#sorting-filter .filter-options .filter-option:nth-last-child(1) {
  border-radius: 0 0 7px 7px;
}

.filter:not(#category-filter, #sorting-filter) .filter-options {
  max-width: 400px;
  padding: 9.5px 13px 10.5px;
}

.filter:not(#category-filter, #sorting-filter) .filter-options .filter-option:not(:last-child) {
  margin-bottom: 5px;
}

.filter:not(#category-filter, #sorting-filter) .filter-options .filter-option input[type="checkbox"] {
  margin: 0 2px 0 0;
}

.filter:not(#category-filter, #sorting-filter) .filter-options .filter-option label {
  display: inline-block;
  transform: translateY(-1px);
}
.filter:not(#category-filter, #sorting-filter) .filter-options .filter-option label:not(:last-of-type) {
  margin-right: 10px;
}

#filters button#apply-filters {
  padding: 7px 16px;
}

#search-results {
  border-radius: 10px;
  z-index: 1;
}
