html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 70px;
}

h2 {
  font-weight: 500;
}

#sell-procedure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}

#sell-procedure-progress-indicator {
  position: relative;
  width: 62.5%;
  margin-top: 10px;
  margin-bottom: 35px;
}

#progress-markers {
  display: flex;
  justify-content: space-between;
}

.progress-marker {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #e6e6e6;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  z-index: 2;
}

.progress-marker.progress-marker-complete {
  background-color: var(--theme-red);
}

#progress-bars {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#progress-bars > div {
  /* position: absolute; */
  height: 100%;
}

#progress-bar {
  /* position: absolute; */
  /* height: 8px; */
  border-radius: 999999px;
  background-color: #e6e6e6;
  z-index: 1;
}

#progress-bar-filler {
  width: 0;
  transform: translateY(-100%);
  background-color: var(--theme-red);
  z-index: 2;
  transition: width 1s ease-in-out;
}

.sell-procedure-step {
  display: none;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 30px; */
  /* border-radius: 10px; */
}

.sell-procedure-step h1 {
  margin: 0;
}

#sell-procedure-step-1 {
  display: block;
}

.halves-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

.halves-wrapper > .half {
  flex: 1 0;
}

.halves-wrapper > .half input[type="text"] {
  width: 100%;
  padding: 10px 11px;
  font-family: inherit;
  font-size: 16px;
  border: 1.5px solid #767676;
  border-radius: 5px;
  box-sizing: border-box;
}

#listing-category-wrapper {
  display: flex;
  align-items: center;
  padding: 8.7px 11px 8.7px 10px;
  border: 1.5px solid #767676;
  border-radius: 5px;
}

#listing-category-wrapper > .material-icons {
  margin-right: 5px;
}

input#listing-category {
  flex-grow: 1;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}

#attach-photos {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  /* margin-top: 10px; */
  padding: 20px 20px 25px;
  border: 5px dashed #bbb;
  border-radius: 10px;
  user-select: none;
}

#attach-photos > .material-icons-outlined {
  margin-bottom: 10px;
  color: #444;
  font-size: 60px;
}

#condition-select-wrapper {
  position: relative;
}

#item-condition {
  width: 100%;
  padding: 10px 11px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  appearance: none;
}

#item-condition + span.material-icons {
  position: absolute;
  top: 50%;
  transform: translate(calc(-100% - 7px), -50%);
  pointer-events: none;
}

#price-input-wrapper {
  position: relative;
}

#price-input-wrapper > input[type="text"] {
  padding-left: 2em;
}

#currency {
  position: absolute;
  top: 50%;
  transform: translate(11px, calc(-50% - 0.5px));
}

#item-description {
  width: 100%;
  flex-grow: 1;
  padding: 10px 11px;
  border-radius: 5px;
  resize: none;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
}

#sell-procedure-navigation-buttons {
  margin-left: auto;
  margin-top: 30px;
}

#sell-procedure-navigation-buttons > button {
  padding: 5px 20px;
  border: 1.5px solid var(--theme-red);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
#sell-procedure-navigation-buttons > button:not(.primary-button) {
  background-color: #fff;
  color: var(--theme-red);
}
#sell-procedure-navigation-buttons > button:not(:last-child) {
  margin-right: 7px;
}

#sell-procedure-navigation-buttons > button > span {
  display: block;
  transform: translateY(-1px);
}
